*,
*:before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #565757;
}

a {
    text-decoration: none;
}

.header__menu {
    background-color: #314357;
}

.header__menu-item {
    display: inline-block;
    margin-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__menu-list {
    display: flex;
    justify-content: end;
    margin-right: 156px;
    margin-left: auto;
    position: relative;
}

.header__menu-link {
    color: #fff;
    line-height: 22px;
}

.menu_check {
    height: 10px;
    width: 10px;
}

.menu_check::after {
    content: " ";
    padding-right: 10px;
    margin-left: 7px;
    background: url(../images/top-menu-arrow.svg) no-repeat;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
}

.logo-bg {
    width: 146px;
    height: 151px;
}

.header__check {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-right: 163px;
    margin-left: auto;
    padding-top: 28px;
    padding-bottom: 28px;
}

.check-on__input,
.check-off__input {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 19px;
    color: #384b58;
}

.check-on__input::placeholder,
.check-off__input::placeholder {
    color: #384b58;
    opacity: unset;
}

.header__check-on span,
.header__check-on span {
    position: relative;
    padding-left: 34px;
}

.header__check-on img,
.header__check-on img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.check-on__input,
.check-off__input {
    padding-right: 5px;
    border: none;
    padding: auto 0;
}

.line {
    margin-top: 12px;
    border-bottom: solid 1px #88939b;
}

.header__check-off {
    margin-left: 70px;
}

.check-btn {
    margin-left: 75;
    line-height: 19px;
    text-align: right;
    color: #384b58;
    padding: 15px 36px 17px 60px;
    background: linear-gradient(92.33deg, #ffd000 0.41%, #ffcf57 97.17%);
    box-shadow: 0px 4px 4px rgba(252, 183, 9, 0.04), inset 0px -1px 1px #e9a105;
    border-radius: 75px;
    border: none;
}

.check-btn:hover {
    cursor: pointer;
}