*,
*:before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    min-width: 1440px;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22px;
}

.header {
    height: 100vh;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
    background: #314357;
    height: 72px;
    padding-right: 156px;
    position: relative;
}

.header__menu-item {
    display: block;
    float: left;
    position: relative;
    margin-left: 30px;
    padding: 25px 0;
}

.header__menu-item:first-child {
    margin-left: 0;
}

.header__menu-item a {
    color: #fff;
    display: block;
    padding: 25px auto;
}

.menu-item__list {
    position: absolute;
    display: none;
    top: 50px;
    left: 0;
    background: #314357;
    transition: opacity 0.25s ease 0.1s;
    padding: 15px 5px;
    width: 220px;
    -webkit-transition: opacity 0.25s ease 0.1s;
    -moz-transition: opacity 0.25s ease 0.1s;
    -ms-transition: opacity 0.25s ease 0.1s;
    -o-transition: opacity 0.25s ease 0.1s;
}

.menu-item__list-item {
    padding-top: 10px;
}

.header__menu-item:hover>.menu-item__list {
    display: block;
}

a:hover {
    color: #c5c4c4;
}

.arrow-chk {
    padding-right: 18px;
}

.arrow-chk::after {
    content: "";
    height: 10px;
    width: 10px;
    background-image: url(../images/top-menu-arrow.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 45%;
}